.board-tile {
  height: 50px;
  width: 50px;
}
.board-tile-x {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: yellow;
  margin: 3px;
}

.board-tile-o {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  margin: 3px;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

.board-tile-null {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
}
