.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
  background-color: aqua;
}
.board {
  height: 350px;
  width: 400px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: blue;
}

.symbolPlayer-x {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: yellow;
  margin: 3px;
}

.symbolPlayer-o {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  margin: 3px;
}
.messageContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 17px;
  height: 50px;
  width: 400px;
  background-color: aliceblue;
  border: aqua;
  margin-bottom: 10px;
}
