.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
  background-color: aqua;
}
.board {
  height: 350px;
  width: 400px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: blue;
}
